<h1>Welcome to Vantage!</h1>

<% if user_signed_in? %>
  <p>You are logged in as <%= current_user.email %>.</p>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <p>You are not logged in.</p>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
